<!DOCTYPE html>
<html>
<head>
    <title>Заявки uzcardsbot</title>
</head>
<body>
    <h2>Список заявок</h2>
    <table border="1">
        <tr>
            <th>ID</th><th>User</th><th>Тип</th><th>Сумма</th><th>ID 1xBet</th><th>Статус</th><th>Дата</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td>
            <td>{{row[4]}}</td><td>{{row[10]}}</td><td>{{row[11]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
